<div class="relative">
  {# Partnership Card #}
  <div class="z-20">
    <div class="mx-auto max-w-7xl">
      {% set partnershipBg = '/images/PartnershipBackground.svg' %}
      <div class="z-10 pt-10">
        <img src="{{ partnershipBg }}"
          alt="Styling"
          class="invisible h-0 sm:visible sm:h-auto w-full" />
      </div>

      {% set partnershipBgMobile = '/images/MobilePartnershipStyling.svg' %}
      <div class="z-10 pt-5">
        <img src="{{ partnershipBgMobile }}"
          alt="Styling"
          class="h-auto visible sm:invisible sm:h-0 w-full" />
      </div>

      <div class="max-w-3xl text-left absolute left-0 right-0 mx-auto top-1/2 -translate-y-1/2 px-10">
        {# Card container #}
        <div class="flex flex-col sm:flex-row bg-alf-white rounded-md shadow-md">
          {# Text content #}
          <div class="w-full px-5 py-5">

            {# Image (Mobile) #}
            {% set brandIconMobile = '/images/MobileBrandIcon.svg' %}
            <div class="visible h-auto sm:invisible sm:h-0 flex items-center justify-center">
              <img src="{{ brandIconMobile }}" class="" />
            </div>

            {# Heading #}
            <p class="font-semibold font-rubik text-xl py-4">
              Request a Partnership
            </p>

            {# Body #}
            <p class="mt-4 pb-4 font-rubik">
              Request a consultation subtitle ut enim ad minim veniam, quis
              nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo. Request a consultation subtitle ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
              commodo.
            </p>
            {# End | Body #}
          </div>
          {# End | Text content #}

          {# Image (Desktop) #}
          {% set brandIcon = '/images/BrandIcon.svg' %}
          <div class="invisible h-0 sm:visible sm:h-auto flex items-center justify-center p-4">
            <img src="{{ brandIcon }}" class="" />
          </div>
        </div>
        {# End | Card container #}
        <div class="max-w-5xl bg-alf-dark-green h-16 font-rubik text-alf-white font-semibold">
          <p class="text-center py-5">
            Request a Partnership
          </p>
        </div>
      </div>
    </div>
    {# End | Partnership Card #}
  </div>
</div>
