<div class="bg-partnershipbg mx-auto max-w-7xl my-10">
  {# Partnership Card #}
  <div class="px-6 mt-16 sm:px-8 md:px-12 lg:px-16">
    <div class="mx-auto max-w-5xl text-left pt-4 pb-16 sm:pt-12 sm:pb-24">
      {# Card container #}
      <div class="mt-12 flex flex-col md:flex-row bg-alf-white rounded-md shadow-md">
        {# Text content #}
        <div class="w-full px-10">
          {# Heading #}
          <p class="font-semibold font-rubik text-xl py-4">
            Request a Partnership
          </p>

          {# Body #}
          <p class="mt-4 font-rubik">
            Request a consultation subtitle ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
            Request a consultation subtitle ut enim ad minim veniam, quis
            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
          </p>
          {# End | Body #}
        </div>
        {# End | Text content #}

        {# Image #}
        {% set brandIcon = '/images/BrandIcon.svg' %}
        <div class="flex items-center justify-center p-4">
          <img src="{{ brandIcon }}" class="w-24 sm:w-32 md:w-48" />
        </div>
      </div>
      {# End | Card container #}
    </div>
  </div>
  {# End | Partnership Card #}
</div>
