<!DOCTYPE html>
<html lang="{{ craft.app.language }}">
  <head>
    {% set base = craft.entries.section('base').one() %}
  

    <meta charset="utf-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
      name="viewport" />

    {# SEO #}
    {# {% hook "seo" %} #}

    {# Tailwind and custom CSS styles #}
    <link rel="stylesheet" href="/css/styles.css" />

    {# Alpine.JS script #}
    <script src="https://unpkg.com/alpinejs@3.2.1/dist/cdn.min.js"></script>

    {# Google Fonts (Rubik) #}

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap"
      rel="stylesheet" />

    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  </head>

  <body  x-data="{ contactModal : false }">
  
    {# Header #}
    {% block header %}
      {% include '/globals/menu.twig' %}
    {% endblock %}

    {# Content #}
    {% block content %}
      {# This content is replaced by the content block in the template
      that extends this file. #}
    {% endblock %}

    {# Footer #}
    {% block footer %}
      {% include '/globals/footer.twig' %}
    {% endblock %}
    {% include "/embeds/modals/_contact-modal.twig" %}
  </body>
</html>
