


{# Script for Facebook Embed #}
<div id="fb-root"></div>
<script async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0"
  nonce="r1FXSfeo"></script>

<br />
<div class="h-5 bg-alf-nav-blue w-auto rounded-t-md"></div>

{# Footer #}
<footer class="bg-alf-blue">
  <div class="max-w-7xl mx-auto px-10">
    {# Content Grid #}
    <div class="grid grid-cols-1 md:grid-cols-11 py-10 items-center mx-auto max-w-5xl">
      {# Footer Images #}
      <div class="flex flex-col md:col-span-4">
        <div class="py-4">
          <a href="#">
           {% set logo = base.logo.one() %}
          <img src="{{ logo.url }}" alt="ALF Logo" class="h-12" />
          </a>
        
        </div>
        <div class="">
        {% set footerStyling = base.footerImage.one() %}
          <img src="{{ footerStyling.url }}"
            alt="ALF Footer"
            class="justify-center mx-auto" />
        </div>
      </div>

      {# Footer Links #}
      <div class="md:col-span-3 items-center self-center font-rubik mx-auto">
        <div class="flex flex-row md:flex-col">
          <div class="flex flex-col px-2 text-left">
            <h3 class="text-xl font-semibold tracking-wider uppercase py-2 text-alf-dark-blue">
              About
            </h3>
            <ul role="list" class="mt-4 space-y-4 pb-5">
              <li><a href="#who-we-are" class="text-base hover:text-alf-nav-blue">Who we are</a></li>

              <li><a href="#what-we-do" class="text-base hover:text-alf-nav-blue">What we do</a></li>
            </ul>
          </div>
          <div class="flex flex-col px-2 text-right md:text-left">
            <h3 class="text-xl font-semibold tracking-wider uppercase py-2 text-alf-dark-blue">
              Partnerships
            </h3>
            <ul role="list" class="mt-4 space-y-4 pb-5">
              <li><a href="#our-partners" class="text-base hover:text-alf-nav-blue">Our partners</a></li>

              <li><a href="#success-stories" class="text-base hover:text-alf-nav-blue">Success stories</a></li>
            </ul>
          </div>
        </div>
      </div>

      {# Facebook Embed #}
      <div class="md:col-span-3 row-start-2 md:row-start-1 md:col-start-8 self-center mx-auto md:mx-0 py-4">
        <div class="fb-page"
          data-href="https://m.facebook.com/AdvantageLearnFoundation/"
          data-tabs="timeline"
          data-width=""
          data-height="300"
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true">
          <blockquote cite="https://m.facebook.com/AdvantageLearnFoundation/"
            class="fb-xfbml-parse-ignore">
            <a href="https://m.facebook.com/AdvantageLearnFoundation/">
              Advantage Learn Foundation
            </a>
          </blockquote>
        </div>
      </div>
    </div>
    {# End | Content Grid #}

    {# Connect With Us #}
    <hr />
    <div class="flex font-rubik p-4 flex-col md:flex-row mx-auto">
      <div class="flex-1">
        <h1 class="text-3xl text-alf-nav-blue text-center md:text-left">
          Connect With Us
        </h1>
        <p class="text-md text-center md:text-left pb-4 pr-5">
          If you want to get involved reach out to us and let’s join hands in
          building a better South Africa for all through the power of education.
        </p>
      </div>
      <a href=""
        class="px-4 mx-auto max-w-md text-base my-auto py-4 rounded-md bg-alf-nav-blue text-alf-white text-center shadow hover:underline">
        Request a Partnership
      </a>
    </div>
    <hr />
    {# End | Connect With Us #}
    <p class="text-sm py-5">Copyright © 2022 Advantage Learn Foundation. All rights reserved.</p>
  </div>
</footer>
{# End | Footer #}