{% set logo = '/images/FoundationLogo.png' %}
{% set footerStyling = '/images/FooterStyling.svg' %}
<div id="fb-root"></div>
<script async
  defer
  crossorigin="anonymous"
  src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0"
  nonce="r1FXSfeo"></script>

<br>
<footer class="bg-alf-blue">
  <div class="grid grid-cols-1 md:grid-cols-12 py-10 items-center mx-auto max-w-5xl gap-10">
    <div class="md:col-span-6">
      <img src="{{ footerStyling }}" alt="ALF Footer" />
    </div>

    <div class="md:col-span-2 md:col-start-7 items-center justify-evenly font-rubik">
      <h3 class="text-xl font-semibold tracking-wider uppercase self-center py-2">
        About
      </h3>
      <ul role="list" class="mt-4 space-y-4 pb-5">
        <li>
          <a href="#" class="text-base">
            Who we are
          </a>
        </li>

        <li>
          <a href="#" class="text-base ">
            What we do
          </a>
        </li>
      </ul>
      <h3 class="text-xl font-semibold  tracking-wider uppercase py-2">
        Partnerships
      </h3>
      <ul role="list" class="mt-4 space-y-4 pb-5">
        <li>
          <a href="#" class="text-base ">
            Our partners
          </a>
        </li>

        <li>
          <a href="#" class="text-base ">
            Success stories
          </a>
        </li>
      </ul>
    </div>

    <div class="md:col-span-4">
      <div class="fb-page"
        data-href="https://m.facebook.com/AdvantageLearnFoundation/"
        data-tabs="timeline"
        data-width="300"
        data-height="400"
        data-small-header="false"
        data-adapt-container-width="true"
        data-hide-cover="false"
        data-show-facepile="true">
        <blockquote cite="https://m.facebook.com/AdvantageLearnFoundation/"
          class="fb-xfbml-parse-ignore">
          <a href="https://m.facebook.com/AdvantageLearnFoundation/">
            Advantage Learn Foundation
          </a>
        </blockquote>
      </div>
    </div>
  </div>
</footer>
