{% extends '/globals/base.twig' %}

{% block content %}
  <main class="relative">

    {% include 'embeds/template-hero.twig' %}

    {% include 'embeds/template-who-we-are.twig' %}

    {% include 'embeds/template-what-we-do.twig' %}

    {% include 'embeds/template-reach-and-impact.twig' %}

    {% include 'embeds/template-organisations.twig' %}

    {% include 'embeds/template-success-stories.twig' %}

    {# Blue Background #}
    <div class="bg-alf-blue">
      {% include 'embeds/template-partnership-band.twig' %}

      {% include 'embeds/template-how-can-we-partner.twig' %}
    </div>
    {# End | Blue Background #}
  </main>

 
{% endblock %}
