{% extends '/globals/base.twig' %}

{% block content %}
  <main class="relative">

   {% set index = craft.entries.section('Index').one() %}

    {% include 'embeds/_hero.twig' %}

    
    {% include 'embeds/_who-we-are.twig' %}
   
    
    {% include 'embeds/_what-we-do.twig' %}


    {% include 'embeds/_reach-and-impact.twig' %}

    
    {% include 'embeds/_organisations.twig' %}
   

    {% include 'embeds/_success-stories.twig' %}

    {# Blue Background #}
    <div class="bg-alf-blue z-0">
      {% include 'embeds/_partnership-band.twig' %}

      {% include 'embeds/_how-can-we-partner.twig' %}
    </div>
    {# End | Blue Background #}
  </main>

 
{% endblock %}
