@tailwind base;
@tailwind components;
@tailwind utilities;

div.rich-text a {
  color: rgb(31 113 183);
}

div.rich-text a:hover {
  text-decoration-line: underline;
}

/* Heading text | <h2> */
div.rich-text h2 {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
